body{
    background:#f4f6f9;
    font-family:'Segoe UI', sans-serif;
}

.register-card{
    width:700px;
    background:#eef2f7;
    border:1px solid #b8c2cc;
    padding:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.icon-circle{
    width:55px;
    height:55px;
    border:1px solid #9aa9b8;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;
}

.icon-circle i{
    font-size:1.3rem;
    color:#9aa9b8;
}

.form-label{
    font-weight:600;
    color:#495057;
}

.form-control{
    border:1px solid #b8c2cc;
}

.form-control:focus{
    border-color:#2563eb;
    box-shadow:none;
}